/* background */

.bg-orange {
  background-color: #e67b13 !important;
}

.bg-image-mtg {
  background-image: url("../img/pexelsphoto618545.jpeg") !important;
}

.bg-img-avion {
  background-image: url("../img/avion\ \(2\).png");
}

.bg-black {
  background-color: #292d33;
}

.bg-black-100 {
  background-color: #292a33;
}

.pt-10 {
  padding-top: 10rem;
}

.p-0 {
  padding: 0;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.snap-none {
  scroll-snap-type: none;
}

.opacity-20 {
  opacity: 0.2;
}

.font-face {
  font-family: "../font/Comfortaa_Thin.ttf";
}

.fz-60 {
  font-size: 3.75rem;
  line-height: 1;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.z-0 {
  z-index: 0;
}
.z-10 {
  z-index: 10;
}

.mt {
  margin-top: -10rem;
}